html,
body {
    height: 100%;
}

.header {
    width: 100%;
    height: 6%;
    background-color: black;
    position: fixed;
    color: white;
}

.header_left {
    width: 15%;
    height: 100%;
    position: absolute;
    padding-top: 1%;
    padding-left: 1%;
}

.header_left li {
    display: inline-block;
}

.header_left a {
    color: white;
    text-decoration: none;
    display: block;
}


.header_center {
    width: 50%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.input {
    width: 85%;
    height: 44px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
}

#text {
    width: 80%;
    height: 40px;
    float: left;
    border: 1px solid #888888;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    color: white;
}

button {
    width: 20%;
    height: 40px;
    float: right;
    border: 1px solid #888888;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    list-style: none;
}

.header_right {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
}

.right_1 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.right_1:hover {
    background-color: gray;
}

.right_1>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right_2 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.right_2:hover {
    background-color: rgba(211, 211, 211, 0.4);
}

.right_2>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right_3 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.right_3:hover {
    background-color: rgba(211, 211, 211, 0.4);
}

.right_3>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*sidebar*/

.sidebar {
    height: 94%;
    width: 14%;
    background-color: black;
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
}

.sidebar li {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    color: white;
    padding-left: 20px;
    padding-top: 10px;


}

.sidebar li:hover {
    background-color: rgba(211, 211, 211, 0.4);
}

.sidebar i {
    padding-right: 10px;
}

.sidebar h3 {
    font-size: 18px;
    padding: 10px 0 10px 10px;
    color: white;
}

.touch {
    width: 86%;
    height: 5%;
    background-color: black;
    position: fixed;
    right: 0;
    top: 6%;
}

.touch ul {
    padding-left: 30px;
}

.touch li {
    border-radius: 7px;
    background-color: rgba(211, 211, 211, 0.2);
    display: inline-block;
    padding: 7px;
    color: white;
    font-size: 12px;
    margin: 7px;
}

.touch li:hover {
    background-color: rgba(211, 211, 211, 0.4);
}

.main {
    width: 86%;
    height: 89%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: black;
    overflow-x: hidden;
}

.box1 {
    width: 320px;
    height: 270px;
    display: inline-block;
    margin: 20px 10px;
}

.box1 img {
    width: 320px;
    height: 180px;
    border-radius: 5px;
    margin-bottom: 5px;

}

.box1>img:hover {
    border-radius: 0;
}

.content img {
    width: 36px;
    height: 36px;
    float: left;
    border-radius: 50%;
}

.content_text {
    float: right;
    width: 284px;
    height: 90px;
}

.content_text h4 {
    color: white;
    font-size: 15px;
}

.content_text p {
    font-size: 10px;
    color: rgb(213, 217, 220);
}

.box2 {
    width: 160px;
    height: 373px;
    display: inline-block;
    margin: 20px 10px;
}

.box2 img {
    width: 160px;
    height: 283px;
    border-radius: 10px;
    border: 1px solid #888;
}

.content_text2 {
    width: 160px;
    height: 90px;
}

.content_text2 h4 {
    color: white;
    font-size: 15px;
}

.content_text2 p {
    font-size: 10px;
    color: rgb(213, 217, 220);
}